@charset "utf-8";

*{
  -webkit-box-sizing: border-box;
}

body {
  background: #CDEEEC;
  font-family: 'Avenir', sans-serif; 
  min-height: 100%;
  height: 100%;
}

header{
  background: #fff;
  height: 100px;
  width: 100%;
  h1 {
    text-align: center;
    position: absolute;
    display: inline-block;
    left: 0; right: 0;
    margin: 0 auto;
    margin-top: -45px;
    font-size: 32px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-size: 80px;
  }
}
